Old/anotacoes_20251024.py
Old/importer.py
Old/mainold.py
Old/oldmain.py
Old/services.py
__pycache__/database.cpython-313.pyc
services/__pycache__/__init__.cpython-313.pyc
services/__pycache__/equipamentosService.cpython-313.pyc
userInterfaces/__pycache__/__init__.cpython-313.pyc
userInterfaces/__pycache__/abaEquipamentos.cpython-313.pyc
userInterfaces/__pycache__/abaManutencoes.cpython-313.pyc
services/__pycache__/manutencoesService.cpython-313.pyc
userInterfaces/__pycache__/abaNovaManutencao.cpython-313.pyc
services/__pycache__/novaManutencaoService.cpython-313.pyc
userInterfaces/__pycache__/abaEditarManutencao.cpython-313.pyc
